<h2>Gestion Paiement - IHM</h2>

{% if info %}
    <h3>App info</h3>
    <table>
        <tbody>
            <tr>
                <td><strong>id</strong></td><td><strong>app name</strong></td><td><strong>desc</strong></td>
            </tr>
            <tr>
                <td>{{ info.id }}</td><td>{{ info.name }}</td><td>{{ info.desc }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}

{% if transactions %}
    <h3>Transactions</h3>
    <ul>
        {% for t in transactions %}
            <li>{{ t.fields.amount }}€ - {{ t.fields.date }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% csrf_token %}
<form action="/gestion-paiement/proceed-payement" method="post">
    {{ form }}
    <input type="submit" value="Submit">
</form>