{% load static %}
<html>
    <head>
        <title>Gestion Paiement</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>Gestion Paiement - IHM</h1>
        <div class="container">
            {% if info %}
                <h2>App info</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>id</td><td>app name</td><td>desc</td>
                        </tr>
                        <tr>
                            <td>{{ info.id }}</td><td>{{ info.name }}</td><td>{{ info.desc }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
            {% endif %}

            {% if transactions %}
                <h2>Transactions</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>ClientID</td><td>Montant</td><td>Date</td>
                        </tr>
                        {% for t in transactions %}
                            <tr>
                                <td>{{ t.client_id }}</td><td>{{ t.amount }}€</td><td>{{ t.date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <br>
            {% csrf_token %}
            <form action="/api/proceed-payement" method="post" class="form-test">
                <div class="form-group">
                    <label for="client_id">Numéro client</label>
                    <input name="client_id" type="text" class="form-control" id="client_id" placeholder="Entrez votre numéro client">
                </div>
                <div class="form-group">
                    <label for="amount">Montant</label>
                    <input name="amount" type="number" step=".01" class="form-control" id="amount" placeholder="Entrez un montant">
                </div>
                <input class="btn btn-primary" type="submit" value="Ajouter une transaction">
            </form>
            <br>
            <br>

            {% if products %}
                <h2>Produits</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>CodeProduit</td><td>FamilleProduit</td><td>DescriptionProduit</td><td>QuantiteMin</td><td>Packaging</td><td>Prix</td>
                        </tr>
                        {% for p in products %}
                            <tr>
                                <td>{{ p.codeProduit }}</td><td>{{ p.familleProduit }}</td><td>{{ p.descriptionProduit }}</td><td>{{ p.quantiteMin }}</td><td>{{ p.packaging }}</td><td>{{ p.prix }}€</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <br>
            {% csrf_token %}
            <form action="/load-products" method="post">
                <input class="btn btn-primary" type="submit" value="Charger de nouveaux produits">
            </form>
            <br>
            <br>

            {% if clients %}
                <h2>Clients</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>idClient</td><td>firstName</td><td>lastName</td><td>fidelityPoint</td><td>payment</td><td>account</td>
                        </tr>
                        {% for c in clients %}
                            <tr>
                                <td>{{ c.idClient }}</td><td>{{ c.firstName }}</td><td>{{ c.lastName }}</td><td>{{ c.fidelityPoint }}</td><td>{{ c.payment }}</td><td>{{ c.account }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <br>
            {% csrf_token %}
            <form action="/load-clients" method="post">
                <input class="btn btn-primary" type="submit" value="Charger de nouveaux clients">
            </form>
            <br>
            <br>
        </div>
    </body>
</html>