{% load static %}
<html>
    <head>
        <title>Gestion Paiement</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>Gestion Paiement - IHM</h1>
        <div class="container">
            {% if info %}
                <h2>App info</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>id</td><td>app name</td><td>desc</td>
                        </tr>
                        <tr>
                            <td>{{ info.id }}</td><td>{{ info.name }}</td><td>{{ info.desc }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endif %}

            {% if transactions %}
                <h2>Transactions</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>ClientID</td><td>Montant</td><td>Date</td>
                        </tr>
                        {% for t in transactions %}
                            <tr>
                                <td>{{ t.fields.client_id }}</td><td>{{ t.fields.amount }}€</td><td>{{ t.fields.date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <br>
            {% csrf_token %}
            <form action="/proceed-payement" method="post">
                {{ form }}
                <input class="btn btn-primary" type="submit" value="Ajouter">
            </form>

            {% if products %}
                <h2>Produits</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>CodeProduit</td><td>FamilleProduit</td><td>DescriptionProduit</td><td>QuantiteMin</td><td>Packaging</td><td>Prix</td>
                        </tr>
                        {% for p in products %}
                            <tr>
                                <td>{{ p.fields.codeProduit }}</td><td>{{ p.fields.familleProduit }}</td><td>{{ p.fields.descriptionProduit }}</td><td>{{ p.fields.quantiteMin }}</td><td>{{ p.fields.packaging }}</td><td>{{ p.fields.prix }}€</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <br>
            {% csrf_token %}
            <form action="/load-products" method="post">
                <input class="btn btn-primary" type="submit" value="Charger de nouveaux produits">
            </form>

            {% if clients %}
                <h2>Clients</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>idClient</td><td>firstName</td><td>lastName</td><td>fidelityPoint</td><td>payment</td><td>account</td>
                        </tr>
                        {% for c in clients %}
                            <tr>
                                <td>{{ c.fields.idClient }}</td><td>{{ c.fields.firstName }}</td><td>{{ c.fields.lastName }}</td><td>{{ c.fields.fidelityPoint }}</td><td>{{ c.fields.payment }}</td><td>{{ c.fields.account }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <br>
            {% csrf_token %}
            <form action="/load-clients" method="post">
                <input class="btn btn-primary" type="submit" value="Charger de nouveaux clients">
            </form>
        </div>
    </body>
</html>